doctype html

html
  head
    <!-- @reload -->
    title Sassy Slim starter pack
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    link rel="shortcut icon" href="/favicon.ico"
    link rel="apple-touch-icon" href="/favicon.ico"
    meta name="format-detection" content="telephone=no"
    <!-- @stylesheet mui application  -->
    <!-- @javascript parse react react-with-addons react-tabs JSXTransformer mui-react -->
    script src="https://www.parsecdn.com/js/parse-react.js"
    link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'



  body
    #title
        .hammer-head
        h1 Hammer Resources
        p 
          ' Demo for 
          a.strong href="http://blog.beach.io" building a static powered app with React and Parse.com
        p Built with Hammer, Hosted on Forge, Locally run with Anvil.

    #react-container
       

    script type="text/jsx" src="app/components/document-box.js"
    script type="text/jsx" src="app/components/app.js"
    / script type="text/jsx" src="<!-- @path button -->"



